:root {
    --font-Inter: 'Inter', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: 0;
    background: none;
}

body {
    background: #0d0e0d;
    padding: 28px 150px;
    color: #FFF;
}


header .logo {
    display: flex;
    width: 111.579px;
    padding: 2.917px 6px 2.917px 4.998px;
    align-items: center;
    gap: 15.283px;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-menu {
    display: flex;
    padding: 0px 16.01px 0px 16px;
    justify-content: space-between;
    align-items: center;
}

header .top {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    padding-right: 68px;
    text-transform: capitalize;
}

header li a {
    color: #BABABA;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    padding-right: 58px;
}

header .mid {
    display: flex;
    padding: 13px 28px;
}

header .end {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 14px 25.22px 14px 26px;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #FFF;
}

.hero-info {
    width: 660px;
    padding: 0px 74px 0px 16px;
    align-items: flex-start;
    flex-shrink: 0;
}

.hero-title {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 50px;
    font-weight: 700;
    margin-top: 87px;
}

.hero-desc {
    color: #A1A0AE;
    font-family: var(--font-Inter);
    font-size: 18px;
    font-weight: 500;
    padding-top: 16.5px;
    line-height: 29.25px;
}

#hero img {
    margin-top: 54px;
}

#hero .Ex {
    border-radius: 6px;
    border: 2px solid #5142FC;
    background: #5142FC;
    padding: 14px 29.7px 14px 30px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
}

#hero .Up {
    border-radius: 6px;
    border: 2px solid #FFF;
    background: #01060e;
    padding: 14px 29.8px 14px 30px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    margin-left: 24.5px;
}

#top-artists {
    margin-top: 180px;
}

#top-artists article.post {
    display: flex;
}

#top-artists h2 {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 30px;
    font-weight: 700;
}

#top-artists .section-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 20px;
}

#top-artists .section {
    display: flex;
    width: 96px;
    align-items: center;
    gap: 16px;
}

#top-artists .section a {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.05);
    width: 40px;
    display: flex;
    padding: 14.5px 13px;
    justify-content: center;
    align-items: center;
}

#top-artists .post-title {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 18px;
    font-weight: 600;
}

.post-author-name {
    color: #36B37E;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

#top-artists .post {
    border-radius: 12px;
    background: #2C2C39;
    display: flex;
    align-items: center;
    margin-top: 48px;
    padding: 24px;
    gap: 24px;
}

#Live .section-title {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 20px;
}

#Live h2 {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 30px;
    font-weight: 700;
}

#Live a {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background: #5142FC;
    display: flex;
    padding: 10px 23.48px 10px 24px;
    justify-content: center;
    align-items: center;
}

#Live .top-post {
    padding-top: 49px;
}

#Live .post-author-avatar {
    height: 32px;
    max-width: 32px;
    flex: 1 0 0;
    margin-right: 6px;
}

#Live .post-meta {
    display: flex;
    margin-top: 13px;
}

#Live .post-meta-con {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Inter);
    font-size: 12px;
}

#Live .post-author-name {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-weight: 600;
}

#Live .post-meta-con .post-author-Tu {
    text-align: right;
    padding-left: 44px;
}

#Live .post-meta-cha {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Inter);
    font-size: 12px;
}

#Live .post-meta-cha p {
    color: #A1A0AE;
    font-weight: 500;
}

#Live .post-publish-date {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    width: 220px;
    justify-content: center;
    padding: 10px 0;
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    margin-top: 21px;
}

#Live .post {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    display: flex;
    width: auto;
    padding: 19px;
    flex-direction: column;
    gap: 20px;
}
.post-title{
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: 19px;
}
.post-meta-con{
    color: #FFF;
    text-align: right;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}
#today-pick {
    color: #FFF;
    margin-bottom: 92px;
}

.today-pick-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.today-btn {
    margin-top: 24px;
    display: flex;
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    justify-content: space-between;
    border-top: 2px solid #4D4C5A;
    padding-top: 22px;
    width: auto;
    align-items: center;
}

#today-pick .btn-place-bid {
    border-radius: 6px;
    background: #5142FC;
    padding: 12px 19px;
    color: #FFF;
}

#today-pick .btn-view-history {
    flex: 1;
    border-radius: 6px;
    color: #FFF;
    display: flex;
    padding-left: 20px;
    gap: 3px;
}

#today-pick .post {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    display: flex;
    width: auto;
    padding: 19px;
    flex-direction: column;
    gap: 20px;
}

#today-pick .section-title a {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    background: #5142FC;
    display: flex;
    padding: 10px 23.48px 10px 24px;
    justify-content: center;
    align-items: center;
}

#today-pick .section-title {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 20px;
}

#today-pick .section-title h2 {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 30px;
    font-weight: 700;
}

#today-pick .top-post {
    padding-top: 49px;
}

#today-pick .post-author-avatar {
    height: 32px;
    max-width: 32px;
    flex: 1 0 0;
    margin-right: 6px;
}

#today-pick .post-meta {
    display: flex;
    margin-top: 13px;
}

#today-pick .post-meta-con {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Inter);
    font-size: 12px;
}

#today-pick .post-author-name {
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 12px;
    font-weight: 600;
}

#today-pick .post-meta-con .post-author-Tu {
    text-align: right;
    padding-left: 44px;
}

#today-pick .post-meta-cha {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Inter);
    font-size: 12px;
}

#today-pick .post-meta-cha p {
    color: #A1A0AE;
    font-weight: 500;
}

#today-pick .auctions-post {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    display: flex;
    width: auto;
    padding: 19px;
    flex-direction: column;
    gap: 20px;
}

.btn-load-more {
    color: #FFF;
    border-radius: 6px;
    border: 2px solid #FFF;
    background-color: #141420;
    padding: 14px 30px;

}

.load-more {
    text-align: center;
    padding-bottom: 89px;
    color: #FFF;
    font-family: var(--font-Inter);
}

.load-more a {
    font-size: 16px;
    font-weight: 600;
}

#core-features {
    text-align: center;
}

.core-header {
    margin-bottom: 56px;
}

.core-header h1 {
    margin-bottom: 15.5px;
    font-size: 42px;
    font-weight: 700;
    margin-top: 39px;
}

.core-header p {
    color: #A1A0AE;
    text-align: center;
    font-family: var(--font-Inter);
    font-size: 18px;
    font-weight: 500;
}

.core-items {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    text-align: left;
    padding: 19px;
    margin: 0 16px 40px 0;
}

.core-items .core-img {
    background: #FFF0E9;
    padding: 17px;
    border-radius: 50%;
    width: 25%;
}

.core-items h2 {
    margin-bottom: 8px;
    margin-top: 20px;
    color: #FFF;
    font-family: var(--font-Inter);
    font-size: 20px;
    font-weight: 700;
}

.core-items p {
    color: #A1A0AE;
    font-family: var(--font-Inter);
    font-size: 16px;
    font-weight: 500;
}

/* Popular Collection */
#popular-collection {
    color: #FFF;

}

.popular-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.popular-header h2 {
    font-family: var(--font-Inter);
    font-size: 30px;
    font-weight: 700;
}

.popular-header a {
    border-radius: 6px;
    background: #5142FC;
    padding: 10px 24px;
    color: #FFF;
    font-size: 16px;
    font-family: var(--font-inter);
    font-weight: 600;
}

.collection-post {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    padding: 29px;
    margin-top: 49px;

}

.collection-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.collection-title h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-Inter);
}

.collection-author-name p {
    font-size: 16px;
    font-weight: 600;
}

.collection-author .cre-cur {
    font-size: 14px;
    font-weight: 500;
    color: #A1A0AE;
}

.collection-title button {
    border-radius: 6px;
    background: #FFF;
    border: #FFF;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-Inter);
    display: flex;
    padding: 3px 7.34px 7px 8px;
    align-items: flex-end;
}
.collection-title .space{
    padding-left: 4px;
}
.collection-author {
    display: flex;
}

.collection-post .col-8 img {
    margin-bottom: 24px;

}
.img2{
    margin-top: 23px;
}
.collection-post .img-center {
    width: 100%;
}

footer {
    background: #2C2C39;
    padding-top: 95px;
    margin-top: 60px;
    text-align: left;
    font-family: var(--font-Inter);
}

.footer-col1 .logo {
    display: flex;
    width: 111.579px;
    padding: 2.917px 6px 2.917px 4.998px;
    align-items: center;
    gap: 15.283px;
    margin-bottom: 26px;
}

.footer-col1 {
    padding-right: 124px;
    padding-bottom: 94px;
}

.footer-col1 p {
    font-size: 16px;
    font-weight: 500;
}

#footer-main span {
    font-size: 24px;
    font-weight: 700;

}

#footer-main p {
    margin-top: 16px;
    color: #A1A0AE;
}

#footer-main a {
    color: #A1A0AE;
    font-size: 16px;
    font-weight: 500;
}

.footer-col1 .footer-icon i {
    margin-right: 20px;
}

.input {
    border-radius: 8px;
    border: 1px solid #4D4C5A;
    display: flex;
    padding: 15.5px 10px 15.5px 21px;
    align-items: flex-start;
}

#footer-main .image {
    border-radius: 6px;
    background: #5142FC;
    padding: 8px;
    margin-left: 5px;
}

#footer-main .fa-arrow-right {
    border-radius: 6px;
    background: #5142FC;
    padding: 8px;
}

.footer-down {
    border-top: 1px solid #4D4C5A;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
    color: #A1A0AE;
    font-size: 16px;
    font-weight: 500;
}

.auctions {
    padding-top: 48px;
}

.auctions-btn {
    display: flex;
    position: relative;
}

.auctions-btn .btn-heart {
    border-radius: 6px;
    background: #FFF;
    border: #FFF;
    display: flex;
    padding: 3px 7.8px 4px 8px;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 16px;
    top: 16px;
}

.auctions .auctions-feature {
    border-radius: 12px;
    border: 1px solid #4D4C5A;
    background: #2C2C39;
    padding: 19px;
    margin: 0 16px 40px 0;

}

.auctions-btn span {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
}

.auctions .auctions-feature img.auctions-thumb {
    margin-bottom: 20px;


}

.auctions-title img {
    width: 11.5%;

}

.auctions-title {
    display: flex;
    align-items: center;
}

.auctions-post h3 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.auctions-title .auctions-author {
    margin: 0 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;

}

.auctions-title .auctions-eth {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.auctions-author p.name {
    font-weight: 600;

}

.auctions-eth p.cre-cur {
    color: #A1A0AE;
    font-weight: 500;
}

.auctions-time {
    text-align: center;
    margin-top: 20px;

}